<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sommeil & consommations</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let day of days" [ngClass]="(!day.id) ? 'to-fill' : ''" (click)="goToForm($event, day)">

    <ion-card-header>
      {{ formatDate(day.date) }}
    </ion-card-header>

    <ion-card-content>

      <button ion-button *ngIf="!day.id" (click)="goToForm($event, day)" class="button-fill-now">
        Remplir maintenant
      </button>

      <div *ngIf="day.id">
        <ion-grid class="addictions">
          <ion-row class="addiction Sommeil">
            <ion-col>
              <img [src]="'assets/img/Sommeil.png'">
              <div class="addiction-name">Sommeil</div>
            </ion-col>
            <ion-col style="flex: 4">
              <h3 class="addiction-value">{{ calculateSleep(day) }} de sommeil</h3>
            </ion-col>
          </ion-row>

          <ion-row *ngFor="let dayAddiction of day.dayAddictions" class="addiction" [ngClass]="[dayAddiction.addiction.name, (dayAddiction.addiction.activated) ? '' : 'hidden']">
            <ion-col>
              <img [src]="'assets/img/' + dayAddiction.addiction.name + '.png'">
              <div class="addiction-name">{{ dayAddiction.addiction.name }}</div>
            </ion-col>
            <ion-col style="flex: 4">
              <ion-row>
                <ion-col col-12>
                  <h3 class="addiction-value">
                    <span *ngIf="dayAddiction.addiction.name == 'Ecran'">
                      {{ dayAddiction.value }} heures d'écrans
                    </span>
                    <span *ngIf="dayAddiction.addiction.name == 'Cannabis'">
                      {{ dayAddiction.value }} joints
                    </span>
                  </h3>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <span *ngIf="dayAddiction.morning"><b>Matin</b></span>
                  <span *ngIf="!dayAddiction.morning">Matin</span>
                </ion-col>
                <ion-col>
                  <span *ngIf="dayAddiction.afternoon"><b>Après-midi</b></span>
                  <span *ngIf="!dayAddiction.afternoon">Après-midi</span>
                </ion-col>
                <ion-col>
                  <span *ngIf="dayAddiction.evening"><b>Soirée</b></span>
                  <span *ngIf="!dayAddiction.evening">Soirée</span>
                </ion-col>
                <ion-col>
                  <span *ngIf="dayAddiction.night"><b>Nuit</b></span>
                  <span *ngIf="!dayAddiction.night">Nuit</span>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row class="addiction Notes">
            <ion-col>
              <img [src]="'assets/img/Notes.png'">
              <div class="addiction-name">Notes</div>
            </ion-col>
            <ion-col style="flex: 4" class="note-content">
              {{ day.note }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      
    </ion-card-content>

  </ion-card>
</ion-content>
