<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sommeil & consommations</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let day of days" [ngClass]="(!day.id) ? 'to-fill' : ''" (click)="goToForm($event, day)">

    <ion-card-header>
      {{ formatDate(day.date) }}
    </ion-card-header>

    <ion-card-content>

      <button ion-button *ngIf="!day.id" class="button-fill-now">
        Remplir maintenant
      </button>

      <div *ngIf="day.id">
        <ion-grid class="addictions">
          <ion-row class="addiction Sommeil">
            <ion-col>
              <img [src]="'assets/img/Sommeil.png'">
              <div class="addiction-name">Sommeil</div>
            </ion-col>
            <ion-col style="flex: 4">
              <h3 class="addiction-value" *ngIf="!day.sleepless">{{ getSleep(day) }} de sommeil</h3>
              <div class="progress" [ngStyle]="{width: (getSleepTime(day) / (24 * 60)) * 100 + '%'}" *ngIf="!day.sleepless"></div>
              <i *ngIf="day.sleepless">Nuit blanche</i>
              <ion-row *ngIf="day.withHypnotic">
                <ion-col>
                  <img src="assets/img/hypnoctics.png">
                </ion-col>
                <ion-col style="flex: 5" class="hypnotic">
                  Hypnotique à {{ day.hypnotic.replace(':', 'h') }}
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row *ngFor="let dayAddiction of day.dayAddictions" class="addiction" [ngClass]="[dayAddiction.addiction.name, (dayAddiction.addiction.activated) ? '' : 'hidden']">
            <ion-col>
              <img [src]="'assets/img/' + dayAddiction.addiction.name + '.png'">
              <div class="addiction-name">{{ dayAddiction.addiction.name }}</div>
            </ion-col>
            <ion-col style="flex: 4">
              <ion-row>
                <ion-col col-12>
                  <h3 class="addiction-value">
                    <span *ngIf="dayAddiction.addiction.name == 'Ecrans'">
                      {{ dayAddiction.value }} heures d'écrans
                    </span>
                    <span *ngIf="dayAddiction.addiction.name == 'Cannabis'">
                      {{ dayAddiction.value }} joints
                    </span>
                    <span *ngIf="dayAddiction.addiction.name == 'Alcool'">
                      {{ dayAddiction.value }} verres
                    </span>
                    <span *ngIf="dayAddiction.addiction.name == 'Tabac'">
                      {{ dayAddiction.value }} cigarettes
                    </span>
                    <span *ngIf="dayAddiction.addiction.name == 'Cocaine'">
                      {{ dayAddiction.value }} grammes
                    </span>
                    <span *ngIf="dayAddiction.addiction.name == 'Benzodiazepine'">
                      {{ dayAddiction.value }} doses
                    </span>
                  </h3>
                  <div class="progress" [ngStyle]="{width: (dayAddiction.value / dayAddiction.addiction.maximum) * 100 + '%'}"></div>
                </ion-col>
              </ion-row>
              <ion-row class="time-icons">
                <ion-col>
                  <img *ngIf="dayAddiction.morning" src="assets/img/morning-on.png">
                  <img *ngIf="!dayAddiction.morning" src="assets/img/morning-off.png">
                </ion-col>
                <ion-col>
                  <img *ngIf="dayAddiction.afternoon" src="assets/img/afternoon-on.png">
                  <img *ngIf="!dayAddiction.afternoon" src="assets/img/afternoon-off.png">
                </ion-col>
                <ion-col>
                  <img *ngIf="dayAddiction.evening" src="assets/img/evening-on.png">
                  <img *ngIf="!dayAddiction.evening" src="assets/img/evening-off.png">
                </ion-col>
                <ion-col>
                  <img *ngIf="dayAddiction.night" src="assets/img/night-on.png">
                  <img *ngIf="!dayAddiction.night" src="assets/img/night-off.png">
                </ion-col>
                <ion-col style="flex:3"></ion-col>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row class="addiction Note" [ngClass]="[(day.note) ? '' : 'hidden']">
            <ion-col>
              <img [src]="'assets/img/Note.png'">
              <div class="addiction-name">Note</div>
            </ion-col>
            <ion-col style="flex: 4" class="note-content">
              {{ day.note }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      
    </ion-card-content>

  </ion-card>
</ion-content>
