// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$blue: #1f83b3;

.hidden {
	display: none;
}

.toolbar-background {
	background: $blue;
}

.bar-button-default {
	color: white;
}

.toolbar-title {
	color: white;
}

.header::after {
	background-image: none;
}

ion-card {
	border-radius: 15px !important;
}

ion-card-header {
	background: $blue !important;
	color: white !important;
}

.to-fill ion-card-header {
	background: #dddedd !important;
}

.card-header {
	padding: 10px 16px;
	font-size: 2rem;
	font-weight: bold;
}

ion-card-content {
	text-align: center;
}

.button-fill-now {
	margin-top: 20px;
	padding: 20px 30px;
	background: $blue;
	color: white;
	border-radius: 5px;
	box-shadow: none;
	transition: none;
}

.card-content {
	padding: 13px 0;
}

.addictions {
	padding: 0;
}

.addiction {
	border-bottom: 1px solid #cccccc;
	padding: 10px 0px;
}

.addiction:last-child {
	border-bottom: none;
}

.addiction.Sommeil {
	color: #1f83b3;

	.progress {
		background: #1f83b3;
	}
}

.addiction.Ecrans {
	color: #e9cf48;

	.progress {
		background: #e9cf48;
	}
}

.addiction.Cannabis {
	color: #52b360;
}

.addiction.Notes {
	color: #6ac5ea;
}

.addiction-name {
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
}

.addiction ion-col:nth-child(2) {
	text-align: left;
}

.addiction h3.addiction-value {
	font-weight: bold;
	color: inherit;
}

.card h3 {
	font-size: 2rem;
}

.note-content {
	color: black;
}

.progress {
	height: 18px;
    border-radius: 9px;
    margin-top: 5px;
}

.time-icons {
	img {
		width: 90%;
	}

	ion-col {
		text-align: center;
	}
}