page-form {
	.range .range-bar-active{
		background: #f39b80;
	}

	.range .range-knob {
		border: 1px solid #bdbdbd;
		width: 25px;
		height: 25px;
		top: 10px;
		left: 10px;
	}

	ion-card-header {
		height: 150px;
		position: relative;
		overflow: hidden;

		.image-container {
			height: 150px;
			position: absolute;
			bottom: 0;
			width: 200%;
			left: -50%;
			text-align: center;

			img {
				display: inline;
				width: auto;
			}
		}
	}

	.Sommeil {
		ion-card-header {
			background: $Sommeil;
		}

		.input-wrapper {
			display: block;

			ion-label {
				text-align: left;
				overflow: inherit;
				white-space: inherit;
				margin-bottom: 0;
			}
		}
	}

	.Cannabis {
		ion-card-header {
			background: $Cannabis;
		}
	}

	.Ecrans {
		ion-card-header {
			background: $Ecrans;
		}
	}

	.Alcool {
		ion-card-header {
			background: $Alcool;
		}
	}

	.Tabac {
		ion-card-header {
			background: $Tabac;
		}
	}

	.Cocaine {
		ion-card-header {
			background: $Cocaine;
		}
	}

	.Hors.Prescription {
		ion-card-header {
			background: $HorsPrescription;
		}
	}

	.Note {
		ion-card-header {
			background: $Note;
		}
	}

	.Depenses {
		ion-card-header {
			background: $Depenses;
		}
	}

	.Jeux {
		ion-card-header {
			background: $Jeux;
		}
	}

	.Nourriture {
		ion-card-header {
			background: $Nourriture;
		}
	}

	ion-label {
		text-align: center;
	}

	ion-label img, img.hypnotic {
		display: inline;
		width: 70%;
	}

	.add-sleep {
		color: $blue;

		padding: 0 10px;

		ion-col:first-child {
			text-align: left;
			flex: 9;
		}
		ion-col:last-child {
			text-align: right;
			flex: 7;
		}
	}
}